* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    background-color: black;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.header {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    .logo {
        font-size: 110%;
        display: flex;
        height: 40px;
        margin-left: 20px;
        margin-top: 5px;
        cursor: pointer;
    }
    .right-itm {
        width: 80%;
        height: 40px;
        display: flex;
        padding-inline:20px;
        justify-content: right;
        .itm {
            font-size: 110%;
            padding: 2px;
            padding-inline: 10px;
            width: 200px;
            border-block: 5px solid white;
            border-inline: 5px solid rgb(0, 0, 0);
            text-wrap: wrap;
            transition: all 0.5s ease;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                border-block: 5px solid black;
                border-inline: 5px solid white;
                background-color: rgb(22, 22, 22);
            }
        }
        #itm1 {
            border-left: 5px solid white;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
        }
        #itm3 {
            border-right: 5px solid white;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }
}

@media (max-width: 700px) {
    .header {
        justify-content: center;
        .logo {
            display: none;
            img {
                display: none;
            }
        }

        .right-itm {
            padding-inline: 20px;
            width: 100%;
            justify-content: center;

            .itm {
                width: 95%;
                font-size: 80%;
                text-wrap: nowrap;
            }
        }
    }
}
